@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&family=Sansita+Swashed&display=swap');

body{
  padding: 40px;
}

.container-fluid{
  font-family: 'Ropa Sans', sans-serif;
  font-size: 30px;

}
