@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&family=Sansita+Swashed&display=swap');

body{
  padding: 40px;
}

.container-fluid{
  font-family: 'Ropa Sans', sans-serif;
  font-size: 30px;

}

button{
  border-radius: 7px;
  border: none;
}

.bg-primary:hover{
  background-color: green;
}

.bg-danger:hover{
  background-color: red;
  color: white;
}

input, select{
  width: 45%;
  height: 50px;
  border-radius: 7px;
  background-color: white;
  border: 1px solid grey;
}

input:hover, select:hover{
  border: 2px solid green;
  color: gray;
}