@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&family=Sansita+Swashed&display=swap");

body {
  padding: 40px;
  color: black !important;
}

.container-fluid {
  font-family: "Ropa Sans", sans-serif;
  font-size: 30px;
}

.heading{
  font-size: 70px;
  text-shadow: 0  0 2px rgb(148, 144, 144);
  
}

button {
  border-radius: 7px;
  border: none;
}

.bg-primary:hover {
  background-color: green;
}

.bg-danger:hover {
  background-color: red;
  color: white;
}

input,
select {
  width: 45%;
  height: 50px;
  border-radius: 7px;
  background-color: #ebebeb;
  border: 1px solid #ebebeb;
}

input:hover,
select:hover {
  border: 2px solid green;
}

#result {
  border: 1px solid black;
  padding: 10px;
  background-color: #ebebeb;
  display:none;
  box-shadow: 0 0 10px #000000;
}

.form-div {
  margin: 30px;
  padding: 7px;
}


form{
  background-color:#37416B;
  padding: 44px;
  border-radius: 7px;
  opacity: 0.8;
  margin: 15px;
}

form label, form h4{
  color: white;

}

footer{
  background-color: #37416B;
  opacity:0.8 ;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: white;
}

footer a{
color: white;
padding: 3px;
border-radius: 2px;
}

footer a:hover{
  zoom: 1.2;
  background-color: aqua;
  border-radius: 2px;

}

@media screen and (orientation: portrait) {
  input,
  select {
    width: 90%;
  }
}
